/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.qwik-sidebar-item-component {
		@apply opacity-70 font-medium text-black ease-in duration-75 cursor-pointer flex gap-5 flex-wrap items-center p-3 rounded-xl hover:bg-gray-200;
	}

	.selected {
		@apply bg-gray-200;
	}

	.qwik-button-primary {
		@apply p-2 px-3 bg-pink-600 hover:bg-pink-800 text-white rounded-3xl text-sm h-[40px] min-w-[50px] w-max flex gap-1 content-center items-center justify-center;
	}

	.qwik-button-default {
		@apply p-2 px-3 bg-gray-200 hover:bg-gray-800 text-gray-900 hover:text-white rounded-3xl text-sm h-[40px] w-max flex gap-1 content-center items-center justify-center;
	}

	.qwik-input-src {
		@apply flex justify-between gap-2 px-3 bg-gray-100 text-xs text-slate-900 rounded-xl relative h-[44px] w-[370px];
	}

	.qwik-avatar {
		@apply rounded-full cursor-pointer bg-slate-700 hover: contrast-50 object-cover border-gray-300 border-2 block;
	}
}

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
	--qwik-dark-blue: #006ce9;
	--qwik-light-blue: #18b6f6;
	--qwik-light-purple: #ac7ff4;
	--qwik-dark-purple: #713fc2;
	--qwik-dirty-black: #1d2033;
	--qwik-dark-background: #151934;
	--qwik-dark-text: #ffffff;
	--light-background: #ebebed;
}

html {
	line-height: 1;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family:
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial,
		'Noto Sans',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol',
		'Noto Color Emoji';
}

body {
	padding: 0;
	margin: 0;
	line-height: inherit;
}

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family:
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial,
		'Noto Sans',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol',
		'Noto Color Emoji';
}

body {
	padding: 0;
	line-height: inherit;
}
